<ruleset name="example.com rules"
    xmlns="http://pmd.sf.net/ruleset/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://pmd.sf.net/ruleset/1.0.0 http://pmd.sf.net/ruleset_xml_schema.xsd"
    xsi:noNamespaceSchemaLocation="http://pmd.sf.net/ruleset_xml_schema.xsd">

    <rule name="ForbiddenDateTime"
        message = "Prefer {1} over {0}"
        class="eLife\Proofreader\ForbiddenClassRule">

        <properties>
            <property name="forbidden"
                value="DateTime" />
            <property name="suggested"
                value="DateTimeImmutable" />
        </properties>
    </rule>

    <rule name="ForbiddenInterfaceSuffix"
        message = "Do not suffix interface names with Interface"
        class="eLife\Proofreader\ForbiddenSuffixRule">

        <properties>
            <property name="forbidden"
                value="Interface" />
        </properties>
    </rule>
</ruleset>
